<nav>
    <div class="logo">
        <img src="./assets/img/logo.png" alt="logo nav"/>
    </div>
    <ul>
        <li>
            <i class="fas fa-home" routerLink="/home" routerLinkActive="active"></i>
        </li>
        <li>
            <i class="fas fa-search" routerLink="/search" routerLinkActive="active"></i>
        </li>
        <li>
            <i class="fas fa-bell" routerLink="/notification" routerLinkActive="active"></i>
            <div class="circle"></div>
        </li>
        <li>
            <i class="far fa-comment" routerLink="/message" routerLinkActive="active"></i>
        </li>
    </ul>
    <div class="profile" routerLink="/profile" >
        <img src="./assets/img/profile-img.jpg" alt="profile image" />
        <p>Andreea Bia</p>
    </div>
</nav>
