<div class="container-profile">
    <div class="first">
        <div class="container-first-part">
            <div class="user-data">
                <img src="./assets/img/profile-img.jpg" alt="user image" />
                <h2>Andreea Bia</h2>
                <div class="friends">
                    <div class="box">
                        <p>Followers</p>
                        <p>1M</p>
                    </div>
                    <div class="box">
                        <p>Followed</p>
                        <p>336</p>
                    </div>
                    <div class="box">
                        <p>Posts</p>
                        <p>20</p>
                    </div>
                </div>
            </div>
            <i class="fas fa-cog"></i>
        </div>
    </div>
    <div class="second"></div>
</div>