<div class="container-story">
    <div class="story">
        <div class="myStory">
            <img src="./assets/img/profile-img.jpg" alt="story" />
            <i (click)="addStory()" class="fas fa-plus-circle"></i>
            <input type="file" id="file">
        </div>
        <img class="friends-story" src="./assets/img/profile-img.jpg" alt="story" />
        <img class="friends-story" src="./assets/img/profile-img.jpg" alt="story" />
        <img class="friends-story" src="./assets/img/profile-img.jpg" alt="story" />
        <img class="friends-story" src="./assets/img/profile-img.jpg" alt="story" />
        <img class="friends-story" src="./assets/img/profile-img.jpg" alt="story" />
        <i class="fas fa-chevron-right right"></i>
    </div>
</div>